<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <title><%-messages.meta.title%></title>
    <%- include('../include/style.ejs')%>
    <source>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu 2-columns   fixed-navbar" data-open="click"
    data-menu="vertical-content-menu" data-col="2-columns">
    <!-- BEGIN: Header-->
    <%-include('../include/header.ejs')%>
    <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css" res="stylesheet">
    <!-- END: Header-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <!-- BEGIN: Main Menu-->
            <%- include('../include/left-bar.ejs')%>
            <!-- END: Main Menu-->
            <div class="content-body">
                <!-- Description -->
                <div class="shopping-cart">
                    <div class="tab-content pt-1">
                        <div class="card">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="text-right">
                                                    <button class="btn btn-info mr-2" data-toggle="modal"
                                                        data-backdrop="true" data-target="#info"> <i
                                                            class="la la-plus"></i> Add New</button>
                                                </div>
                                            </div>
                                        </div>
                                        <%if (status ) { %>
                                        <div class="row justify-content-center">
                                            <div class="col-6">
                                                <div class="alert round bg-<%-status%> alert-dismissible mb-2"
                                                    role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <strong><%-message%></strong>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <div id="output"></div>
                                            <table id="QRList" class="table table-borderless mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>QR Code</th>
                                                        <th>Product Id</th>
                                                        <th>Last Visit</th>
                                                        <th>Status</th>
                                                        <th>Created by</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% products.forEach(function(product) { %>
                                                    <tr id="<%-product.uuid%>">
                                                        <td>
                                                            <div class="product-img d-flex align-items-center">
                                                                <img id="qr_<%-product.uuid%>" class="img-fluid"
                                                                    style="width: 70px" src="<%-product.qr%>"
                                                                    alt="Card image cap">

                                                            </div>
                                                            <a href="#"
                                                                onclick="printJS('<%-product.qr%>', 'image' )">Print</a>
                                                            |
                                                            <a href="<%-product.qr%>"
                                                                download="<%-product.product_id%>.png">Downlaod</a>
                                                        </td>
                                                        <td>
                                                            <div class="product-title"><%-product.product_id%></div>
                                                        </td>
                                                        <td>
                                                            <div class="product-price"><%-product.last_visited%></div>
                                                        </td>

                                                        <td>
                                                            <div class="input-group bootstrap-touchspin">
                                                                <%-product.status ? 'Active' : 'InActive'%>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="total-price"><%-product.created_by%></div>
                                                        </td>
                                                        <td>

                                                            <div class="form-group">
                                                                <div class="btn-group mx-2" role="group"
                                                                    aria-label="Second Group">
                                                                    <a href="qr/<%-product.uuid%>" title="View"
                                                                        class="btn btn-icon btn-info"><i
                                                                            class="la la-eye"></i></a>
                                                                    <a data-id="<%-product.uuid%>" href="#"
                                                                        title="Delete"
                                                                        class="deleteQR btn btn-icon btn-danger"><i
                                                                            data-id="<%-product.uuid%>"
                                                                            class="la la-trash"></i></a>
                                                                </div>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Content-->
        <!-- BEGIN: Footer-->
        <%-include('../include/footer.ejs')%>
        <!-- END: Footer-->
        <%-include('../include/script.ejs')%>
        <!-- BEGIN: Page JS-->
        <!-- END: Page JS-->
        <!---Modal--->
        <div class="modal fade text-left" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info white">
                        <h4 class="modal-title white" id="myModalLabel11">Create new QR code</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="QRCodeCreatorForm" class="form" method="POST" action="">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="qr_code_count">QR Code Count</label>
                                            <input type="text" id="qr_code_count" class="form-control"
                                                placeholder="Count of QR Codes" value="10" name="qr_code_count">
                                            <input type="hidden" id="product_id" value="18" name="product_id">
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button type="reset" data-dismiss="modal" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button id="rtr" data-dismiss="modal" type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            $("#rtr").click(function (e) {
                console.log({ e })
                e.preventDefault();
                let product_id = $("#product_id").val()
                let count = $("#qr_code_count").val()
                console.log({ count, product_id })
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: `http://localhost:8000/api/qr/create`,
                    data: {
                        product_id,
                        count
                    },
                    success: function (data) {
                        if (data.status) {
                            swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            })
                            $('#' + product_id).hide(1000)
                        } else {
                            swal("Oops! File could not be found!", {
                                icon: "warning",
                            })
                        }
                        let image = 'image';
                        let product = data.data
                        let newProduct = ''
                        newProduct += '<tr id="' + product.uuid + '">'
                        newProduct += '<td> <div class="product-img d-flex align-items-center"> <img class="img-fluid" style="width: 70px" src="' + product.qr + '" alt="Card image cap"> </div>' 
                        newProduct += '<a onClick=printJS("'+product.qr+'","'+image+'") href="#">Print</a>'
                        newProduct += ' | <a href="'+ product.qr + '" download="' + product.product_id + '.png">Downlaod</a> </td>'
                        newProduct += '<td> <div class="product-title">' + product.product_id + '</div> </td>'
                        newProduct += '<td> <div class="product-price">' + product.last_visited + '</div> </td>'
                        newProduct += '<td><div class="input-group bootstrap-touchspin">' + product.status + '</div> </td>'
                        newProduct += '<td><div class="total-price">' + product.created_by + '</div> </td>'
                        newProduct += '<td><div class="form-group"><div class="btn-group mx-2" role="group" aria-label="Second Group"> <a href="qr/' + product.uuid + '" title="View" class="btn btn-icon btn-info"><i class="la la-eye"></i></a> <a data-id="' + product.uuid + '" href="#" title="Delete" class="deleteQR btn btn-icon btn-danger"><i data-id="' + product.uuid + '" class="la la-trash"></i></a> </div> </div> </td> </tr>';

                        //Add the HTML after the last row by using tr:last.
                        $('#QRList tr:first').after(newProduct);

                    },
                    error: function () {
                        swal("Oops! something went wrong!", {
                            icon: 'error'
                        });
                    }
                })
            })
        </script>
        <!---END: Modal-->
</body>
<!-- END: Body-->

</html>