<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <title><%-messages.meta.title%></title>
    <%- include('../include/style.ejs')%>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu 2-columns   fixed-navbar" data-open="click"
    data-menu="vertical-content-menu" data-col="2-columns">
    <!-- BEGIN: Header-->
    <%-include('../include/header.ejs')%>
    <!-- END: Header-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <!-- BEGIN: Main Menu-->
            <%- include('../include/left-bar.ejs')%>
            <!-- END: Main Menu-->
            <div class="content-body">
                <!-- Description -->
                <div class="card">
                    <section id="patient-profile">
                        <div class="row match-height">
                            <div class="col-lg-6 col-md-12">
                                <div class="card" style="height: 181px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 d-flex justify-content-around">
                                                <div class="patient-img-name text-center">
                                                    <img src="<%-product.qr%>"
                                                        alt=""
                                                        class="card-img-top mb-1 patient-img img-fluid">
                                                    <h4><a href="<%-product.qr%>" download="<%-product.product_id%>.png">Downlaod</a></h4>
                                                </div>
                                            </div>
                                           
                                            <div class="col-lg-8 col-md-8 d-flex justify-content-around">
                                                <div class="patient-info">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <div class="patient-info-heading"><b>Product Id:</b> <%-product.product_id%></div>
                                                        </li>
                                                        <li>
                                                            <div class="patient-info-heading"><b>UUID:</b> <%-product.uuid%></div>
                                                        </li>
                                                        <li>
                                                            <div class="patient-info-heading"><b>Status:</b>  <%-product.status ? 'Active' : 'InActive'%></div>
                                                        </li>
                                                        <li>
                                                            <div class="patient-info-heading"><b>Count</b> <%-product.count %></div>
                                                        </li>
                                                        <li>
                                                            <div class="patient-info-heading"><b>Last Visit</b> <%-product.last_visited %></div>
                                                        </li>
                                                        <li>
                                                            <div class="patient-info-heading"><b>Created On</b> <%-product.created_on %></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- END: Content-->
        <!-- BEGIN: Footer-->
        <%-include('../include/footer.ejs')%>
        <!-- END: Footer-->
        <%-include('../include/script.ejs')%>
        <!-- BEGIN: Page JS-->
        <!-- END: Page JS-->
</body>
<!-- END: Body-->

</html>