<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright &copy; <%- new Date().getFullYear() %> <a class="text-bold-800 grey darken-2" href="https://www.secupohl.com/impressum" target="_blank">Real Influencer</a></span><span class="float-md-right d-none d-lg-block"><span id="scroll-top"></span></span></p>
</footer>
<!-- END: Footer-->
