<div
  class="main-menu menu-static menu-light menu-shadow menu-accordion"
  data-scroll-to-active="true"
>
  <div class="main-menu-content">
    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
      <li class=" navigation-header">
        <span data-i18n="Admin Panels">Admin Panels</span
        ><i
          class="la la-ellipsis-h"
          data-toggle="tooltip"
          data-placement="right"
          data-original-title="Admin Panels"
        ></i>
      </li>
      <li class=" nav-item">
        <a
          href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/ecommerce-menu-template"
          target="_blank"
          ><i class="la la-shopping-cart"></i
          ><span class="menu-title" data-i18n="eCommerce">eCommerce</span></a
        >
      </li>
      <li class=" nav-item">
        <a
          href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/travel-menu-template"
          target="_blank"
          ><i class="la la-plane"></i
          ><span class="menu-title" data-i18n="Travel &amp; Booking"
            >Travel &amp; Booking</span
          ></a
        >
      </li>
      <li class=" nav-item">
        <a
          href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/hospital-menu-template"
          target="_blank"
          ><i class="la la-stethoscope"></i
          ><span class="menu-title" data-i18n="Hospital">Hospital</span></a
        >
      </li>
      <li class=" nav-item">
        <a
          href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/crypto-menu-template"
          target="_blank"
          ><i class="la la-bitcoin"></i
          ><span class="menu-title" data-i18n="Crypto">Crypto</span></a
        >
      </li>
      <li class=" nav-item">
        <a
          href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/support-menu-template"
          target="_blank"
          ><i class="la la-tag"></i
          ><span class="menu-title" data-i18n="Support Ticket"
            >Support Ticket</span
          ></a
        >
      </li>
      
      <li class=" nav-item">
        <a href="/referrals"
          ><i class="la la-tag"></i
          ><span class="menu-title" data-i18n="Support Ticket"
            >Referral Codes</span
          ></a
        >
      </li>

      <li class=" nav-item">
        <a href="/qr"
          ><i class="la la-qrcode"></i
          ><span class="menu-title" data-i18n="Support Ticket"
            >QR Codes</span
          ></a
        >
      </li>
    </ul>
  </div>
</div>
