<!-- BEGIN: Vendor JS-->
<script src="/app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="/app-assets/js/core/app-menu.min.js"></script>
<script src="/app-assets/js/core/app.min.js"></script>
<script src="/app-assets/js/scripts/customizer.min.js"></script>
<script src="/app-assets/js/scripts/footer.min.js"></script>
<!-- END: Theme JS-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/app-assets/vendors/js/extensions/toastr.min.js"></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

<script>
    

    $(".deleteQR").click(function (e) {
        e.preventDefault();
        let id = e.target.getAttribute('data-id')
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "post",
                    url: `http://localhost:8000/api/qr/delete?uuid=${id}`,
                    success: function (data) {
                        console.log({data})
                        if (data.status) {
                            swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            })
                            $('#' + id).hide(1000)
                        } else {
                            swal("Oops! File could not be found!", {
                                icon: "warning",
                            })
                        }
                    },
                    error: function () {
                        swal("Oops! something went wrong!", {
                            icon: 'error'
                        });
                    },
                })
            } else {
                swal("Your imaginary file is safe!", {
                    icon: 'info'
                });
            }
        })
    })
</script>