<meta name="theme-color" content="#ffffff">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
      rel="stylesheet">

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/components.min.css">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-content-menu.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.min.css">
<!-- END: Page CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/extensions/toastr.css">
<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- END: Custom CSS-->


<!-- END: Head-->
