<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <title><%-messages.meta.title%> - 404</title>
    <%- include('include/style.ejs')%>
    <style>.error-code{font-size:9rem}</style>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-content-menu 1-column blank-page  pace-done" data-open="click" data-menu="vertical-content-menu" data-col="1-column">

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body"><!-- Description -->
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-lg-4 col-md-8 col-10 p-0">
                        <div class="card-header bg-transparent border-0">
                            <h2 class="error-code text-center mb-2">404</h2>
                            <h3 class="text-uppercase text-center">Page Not Found !</h3>
                        </div>
                        <div class="card-content">
                            <div class="row py-2">
                                <div class="col-12 col-sm-6 col-md-6 mb-1">
                                    <a href="/" class="btn btn-primary btn-block"><i class="ft-home"></i> Home</a>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 mb-1">
                                    <a href="/" class="btn btn-danger btn-block"><i class="ft-search"></i>  Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
</body>
<!-- END: Body-->


</html>
