<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>

    <title><%-messages.meta.title%></title>

    <%- include('include/style.ejs')%>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-content-menu 2-columns   fixed-navbar" data-open="click" data-menu="vertical-content-menu" data-col="2-columns">

<!-- BEGIN: Header-->
<%-include('include/header.ejs')%>
<!-- END: Header-->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <!-- BEGIN: Main Menu-->

        <%- include('include/left-bar.ejs')%>

        <!-- END: Main Menu-->
        <div class="content-body"><!-- Description -->
            <section id="description" class="card">
                <div class="card-header">
                    <h4 class="card-title">Description</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="card-text">
                            <p>The light layout has a light color navbar, navigation menu and footer. In this page you can
                                experience it. If you want to create a light version template you can use this layout.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Description -->
        </div>
    </div>
</div>
<!-- END: Content-->

<!-- BEGIN: Footer-->
<%-include('include/footer.ejs')%>
<!-- END: Footer-->

<%-include('include/script.ejs')%>

<!-- BEGIN: Page JS-->
<!-- END: Page JS-->

</body>
<!-- END: Body-->


</html>
