<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <title><%-messages.meta.title%></title>
    <%- include('include/style.ejs')%>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu 2-columns   fixed-navbar" data-open="click"
    data-menu="vertical-content-menu" data-col="2-columns">
    <!-- BEGIN: Header-->
    <%-include('include/header.ejs')%>
    <!-- END: Header-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <!-- BEGIN: Main Menu-->
            <%- include('include/left-bar.ejs')%>
            <!-- END: Main Menu-->
            <div class="content-body">
                <!-- Description -->
                <div class="shopping-cart">
                    <div class="tab-content pt-1">
                        <div class="card">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="text-right">
                                                    <button class="btn btn-info mr-2" data-toggle="modal"
                                                        data-backdrop="true" data-target="#info"> <i
                                                            class="la la-plus"></i> Add New</button>
                                                </div>
                                            </div>
                                        </div>
                                        <%if (status ) { %>
                                        <div class="row justify-content-center">
                                            <div class="col-6">
                                                <div class="alert round bg-success alert-dismissible mb-2" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <strong>Well done!</strong> You successfully added a product QR
                                                    code.
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <div id="output"></div>
                                            <table class="table table-borderless mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>QR Code</th>
                                                        <th>Product Id</th>
                                                        <th>Last Visit</th>
                                                        <th>Status</th>
                                                        <th>Count</th>
                                                        <th>Created by</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% products.forEach(function(product) { %>
                                                    <tr>
                                                        <td>
                                                            <div class="product-img d-flex align-items-center">
                                                                <img class="img-fluid" style="width: 70px"
                                                                    src="<%-product.qr%>" alt="Card image cap">
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <div class="product-title"><%-product.product_id%></div>
                                                        </td>
                                                        <td>
                                                            <div class="product-price"><%-product.last_visited%></div>
                                                        </td>

                                                        <td>
                                                            <div class="input-group bootstrap-touchspin">
                                                                <%-product.status ? 'Active' : 'InActive'%>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group bootstrap-touchspin">
                                                                <%-product.count %>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="total-price"><%-product.created_by%></div>
                                                        </td>
                                                        <td>

                                                            <div class="form-group">
                                                                <div class="btn-group mx-2" role="group"
                                                                    aria-label="Second Group">
                                                                    <a href="#" title="View"
                                                                        class="btn btn-icon btn-info"><i
                                                                            class="la la-eye"></i></a>
                                                                    <a href="#" title="Edit"
                                                                        class="btn btn-icon btn-warning"><i
                                                                            class="la la-pencil-square-o"></i></a>
                                                                    <a href="#" title="Delete"
                                                                        class="btn btn-icon btn-danger"><i
                                                                            class="la la-trash"></i></a>
                                                                </div>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Content-->
        <!-- BEGIN: Footer-->
        <%-include('include/footer.ejs')%>
        <!-- END: Footer-->
        <%-include('include/script.ejs')%>
        <!-- BEGIN: Page JS-->
        <!-- END: Page JS-->
        <!---Modal--->
        <div class="modal fade text-left" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info white">
                        <h4 class="modal-title white" id="myModalLabel11">Create new QR code</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" method="POST" action="">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="qr_code_count">QR Code Count</label>
                                            <input type="text" id="qr_code_count" class="form-control"
                                                placeholder="Count of QR Codes" name="qr_code_count">
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button type="reset" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!---END: Modal-->
</body>
<!-- END: Body-->

</html>